/* Global */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f4f8; /* Um tom mais claro para um fundo mais suave */
    margin: 0;
    padding: 0;
    color: #333;
    padding-top: 80px; /* Ajuste o espaçamento para a navbar */
}

/* NavBar */
#navbar {
    height: auto;
}

#logo {
    max-width: 80px; /* Tamanho máximo da logo */
    height: auto; /* Mantém a proporção */
}

.navbar-toggler > .container-fluid{
    border-color: white; /* Muda a cor da borda do botão para branco */
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* Alinhamento à direita para os links "Entrar" e "Cadastre-se" */
.d-flex {
    margin-left: auto; /* Empurra os botões para a direita */
}

/* Estilo para a logo */
#logo {
    transition: transform 0.3s, box-shadow 0.3s; /* Transições suaves */
    transform-style: preserve-3d; /* Habilita o efeito 3D */
}

/* Efeito 3D na logo ao passar o mouse */
#logo:hover {
    transform: rotateY(10deg) rotateX(10deg) scale(1.1); /* Rotaciona e aumenta a logo */
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2); /* Adiciona sombra */
}


/* Estilo para o ícone do usuário */
.user-icon {
    width: 60px; /* Aumenta a largura */
    height: 60px; /* Aumenta a altura */
    border-radius: 50%; /* Torna a imagem redonda */
    object-fit: cover; /* Cobre o espaço da imagem */
    border: 2px solid white; /* Adiciona uma borda branca */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Adiciona uma leve sombra para destaque */
}


/* Estilo para o texto de boas-vindas */
.welcome-text {
    display: inline-block; /* Faz o texto ficar ao lado do ícone */
    margin-left: 8px; /* Espaçamento entre o ícone e o texto */
    text-align: left; /* Alinha o texto à esquerda */
}

/* Ajustes no tamanho do texto */
.welcome-text span {
    font-size: 14px; /* Tamanho do texto */
    font-weight: 500; /* Peso do texto */
    color: white; /* Cor do texto */
    line-height: 1; /* Alinhamento vertical adequado */
}


/* Estilo para o ícone de perfil */
.navbar-nav .nav-item .nav-link .material-symbols-outlined {
    font-size: 36px; /* Tamanho do ícone */
    color: white; /* Cor do ícone */
    transition: transform 0.3s ease, color 0.3s ease; /* Transições suaves */
    margin-left: 100px;
}

/* Aumenta o ícone ao passar o mouse */
.navbar-nav .nav-item .nav-link:hover .material-symbols-outlined {
    transform: scale(1.2); /* Aumenta levemente o ícone ao passar o mouse */
    color: #f0ad4e; /* Cor de destaque */
}

/* Estilo para o texto "Bem-Vindo" */
.navbar-nav .nav-item .text-white {
    font-size: 18px; /* Tamanho do texto */
    font-weight: 500; /* Peso do texto */
    color: white; /* Cor branca */
    line-height: 1; /* Alinhamento vertical adequado */
}

/* Muda a cor do texto ao passar o mouse */
.navbar-nav .nav-item .text-white:hover {
    color: #f0ad4e; /* Cor de destaque */
}

/* Estilo do dropdown */
.navbar-nav .dropdown-menu {
    background-color: #343a40; /* Fundo escuro */
    border: none; /* Remove a borda padrão */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Sombra para profundidade */
    transition: all 0.3s ease; /* Transição suave para o dropdown */
}

.navbar-nav .dropdown-item {
    color: white; /* Cor do texto das opções do dropdown */
    transition: background-color 0.2s ease, color 0.2s ease; /* Transição suave */
}

/* Muda a cor de fundo e do texto ao passar o mouse */
.navbar-nav .dropdown-item:hover {
    background-color: #f0ad4e; /* Fundo laranja ao passar o mouse */
    color: #000; /* Cor do texto */
}

/* Responsividade para ícones menores em telas pequenas */
@media (max-width: 768px) {
    .navbar-nav .nav-item .nav-link .material-symbols-outlined {
        font-size: 28px; /* Tamanho menor para dispositivos móveis */
    }

    .navbar-nav .nav-item .text-white {
        font-size: 16px; /* Texto menor para dispositivos móveis */
    }
}




/* Responsividade para garantir que a logo se ajuste em telas menores */
@media (max-width: 768px) {
    #logo {
        max-width: 60px; /* Reduz o tamanho da logo em dispositivos menores */
    }
}

/* Seção de Monitoramento */
.search-section {
    text-align: center;
    padding: 40px 20px;
    background-color: #ffffff; /* Fundo branco para a seção */
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    margin: 20px auto; /* Margem para centralizar */
    max-width: 600px; /* Largura máxima */
}

.search-section h2 {
    font-size: 2.5em; /* Tamanho maior para o título */
    margin-bottom: 10px; /* Espaçamento abaixo do título */
    color: #333; /* Cor do título */
}

.search-section p {
    font-size: 1.1em; /* Tamanho do texto */
    margin-bottom: 20px; /* Espaçamento abaixo do parágrafo */
    color: #666; /* Cor mais suave */
}

/* Formulário */
.search-section form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza os itens do formulário */
}

.search-section form label {
    font-size: 1em; /* Tamanho do texto do rótulo */
    margin-bottom: 5px; /* Espaçamento abaixo do rótulo */
    color: #333; /* Cor do rótulo */
}

.search-section form input[type="number"],
.search-section form select {
    width: 100%;
    max-width: 400px; /* Largura máxima para inputs e selects */
    padding: 12px;
    font-size: 16px;
    border: 2px solid #ced4da; /* Cor da borda */
    border-radius: 5px; /* Bordas arredondadas */
    margin-bottom: 15px; /* Espaçamento abaixo dos inputs */
    transition: border-color 0.3s; /* Transição suave na borda */
}

.search-section form input[type="number"]:focus,
.search-section form select:focus {
    border-color: #007bff; /* Cor da borda ao focar */
    outline: none; /* Remove a borda padrão */
}

.search-section form button {
    background-color: #007bff; /* Cor do botão */
    border: none;
    padding: 12px 30px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 1.1em;
    transition: background-color 0.3s ease; /* Transição suave ao passar o mouse */
}

.search-section form button:hover {
    background-color: #0056b3; /* Cor mais escura ao passar o mouse */
}

/* Barra de progresso */
.progress-bar {
    width: 100%;
    max-width: 400px; /* Largura máxima */
    margin: 20px auto; /* Centraliza a barra */
    background-color: #e9ecef; /* Fundo da barra */
    border-radius: 20px; /* Bordas arredondadas */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.progress {
    height: 30px; /* Altura da barra */
    border-radius: 20px; /* Bordas arredondadas */
    color: white; /* Cor do texto */
    text-align: center;
    transition: width 0.5s ease, background-color 0.5s ease; /* Transição de cor */
    font-weight: bold;
    background-color: #7D7D7D; /* Cor padrão */
}

/* Recomendação */
#recomendacao {
    display: none;
    color: red;
    margin-top: 20px;
    font-weight: bold; /* Negrito para a recomendação */
}

/* Histórico */
#historico {
    margin-top: 20px;
    color: #333;
    text-align: left; /* Alinha o texto à esquerda */
}

/* Footer */
#footer {
    background-image: url("../imagens/bg_footer.png");
    height: 380px;
}

@media (max-width: 430px) {
    #footer {
        height: 900px;
    }
}

#logo_footer {
    height: 100px;
    width: 100px;
}

#objetivo {
    font-size: 12px;
    width: 150px;
}

#link_icon {
    text-decoration: none;
    color: aliceblue;
    text-align: center;
}
